/* Ensures the entire page takes full height and centers content */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

/* Styles for the main section */
main {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Header Styling */
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__image img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
